co539/assignment1/* linguist-vendored
co539/assignment1/application/controllers/* -linguist-vendored
co539/assignment1/application/models/* -linguist-vendored
co539/assignment1/application/views/* -linguist-vendored
